<header class="menu-mkd">
    <div class="container-fluid">

        <!-- Mobile logo -->
        <div class="row justify-content-around align-items-start">
            <a href="../Home.html">
                <img
                        class="img-fluid my-4 d-md-none header-first-logo"
                        src="../photos/Logo/Main.jpg"
                        alt="Click & Clips logo"
                />
            </a>
        </div>

        <div class="row justify-content-around align-items-start my-3">

            <!-- Desktop title logo -->
            <div class="col-3 col-md-2 d-none d-sm-block">
                <img
                        class="img-fluid mx-md-3 my-md-2"
                        src="../photos/Logo/Title.jpg"
                        style="max-width: 11rem"
                        alt="Click & Clips title"
                />
            </div>

            <!-- Mobile divider -->
            <hr class="d-block d-md-none" style="width: 70%; margin-top: -1.5rem"/>

            <!-- Mobile language + menu toggle -->
            <div class="d-flex d-md-none mob container-fluid">
                <div class="container-fluid text-center" style="margin-top: -1rem;">

                    <!-- Language flags -->
                    <div>
                        <button type="button" class="btn btn-link p-0 border-0">
                            <img
                                    class="img-fluid flag"
                                    src="../photos/lang/uk.jpg"
                                    alt="English"
                                    style="width: 2.5rem"
                                    onclick="setLanguage('eng')"
                            />
                        </button>

                        <button type="button" class="btn btn-link p-0 border-0">
                            <img
                                    class="img-fluid flag"
                                    src="../photos/lang/mkd.png"
                                    alt="Macedonian"
                                    style="width: 2.5rem"
                                    onclick="setLanguage('mkd')"
                            />
                        </button>
                    </div>

                    <!-- Hamburger button (MKD image) -->
                    <div style="margin-top: 1rem;">
                        <button type="button" class="menu-toggle" onclick="menuShow()">
                            <img src="../photos/menuMKD.png" style="width: 6rem" alt="Menu"/>
                        </button>
                    </div>

                </div>
            </div>

            <!-- Main navigation -->
            <nav id="menu" class="col-6 col-md-8 d-flex justify-content-center align-items-start flex-wrap my-3">
                <a href="../Home.html" class="inactive">Дома</a>
                <a href="../Clicks.html" class="inactive">Слики</a>
                <a href="../Clips.html" class="inactive">Видеа</a>
                <a href="../AboutUs-mkd.html" class="inactive">За Нас</a>
                <a href="../Contact-mkd.html" class="inactive">Контакт</a>
            </nav>

            <!-- Mobile divider -->
            <hr class="d-block d-md-none" style="width: 70%; margin-top: -1rem"/>

            <!-- Desktop language + mark logo (aligned like ENG) -->
            <div class="col-3 col-md-2 d-none d-sm-block">
                <div class="header-right">

                    <!-- Flags -->
                    <div id="lang" class="header-lang">
                        <button type="button" onclick="setLanguage('eng')" aria-label="English">
                            <img class="flag" src="../photos/lang/uk.jpg" alt="English"/>
                        </button>

                        <button type="button" onclick="setLanguage('mkd')" aria-label="Macedonian">
                            <img class="flag" src="../photos/lang/mkd.png" alt="Macedonian"/>
                        </button>
                    </div>

                    <!-- Sub mark -->
                    <img
                            class="header-mark"
                            src="../photos/Logo/SubMark.jpg"
                            alt="Click & Clips mark"
                    />
                </div>
            </div>

        </div>

        <!-- Desktop bottom divider -->
        <div class="row justify-content-center">
            <div class="col-8">
                <hr class="d-none d-md-block" style="width: 100%; margin-top: -2rem"/>
            </div>
        </div>

    </div>
</header>
