#main {
    margin-top: -0.75rem;
    margin-bottom: 0.75rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.clips-video{
    border-radius: 1rem;
}

@media (max-width: 576px) {
    .clips-video{
        border-radius: 1rem;
    }
}

@media (min-width: 1024px){
    .clips-video{
        border-radius: 1vw;
    }
}

@media (min-width: 1920px) {
    .clips-video{
        border-radius: 1vw;
    }
}
